.dashboard-main{
    padding-top: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    min-height:100vh;
    width: 100vw;
    /* background: url('../../shared/photos/background.jpg') no-repeat center center fixed; */
    background-color: snow;
}

.dashboard-main__mobile{
    padding-top: 1vh;
    padding-left: 6vw;
    min-height:100vh;
    width: 95vw;
    /* background: url('../../shared/photos/background.jpg') no-repeat center center fixed; */
    image-orientation: none;
    background-color: snow;
}

.speeddial_icon-btn .MuiFab-primary{
    background-color: #008080;
}

.speeddial_icon-btn:hover .MuiFab-primary{
    background-color: #004e4e;
}

.upper-container{
    margin-right: 7%;
}

.info-container,.buddies-container, .contact-us-container{
    margin:6%;
    padding-top:7vh;
    padding-right: 6vw;
}

.buddies-grid{
    margin-left:11%;
    margin-top:3%;
    margin-bottom:3%;
    padding-left: 2%;
    padding-right: 2%;
}

.image_dashboard{
    height: 100%;
    width: 100%;
}

.image_other{
    height: 100%;
    width: 100%;
    margin-left: 4%;
}

.key_features-text{
    font-size: 3.5em;
    margin-bottom: 4%;
    text-align: center;
}

.key_features-card{
    margin: 5%;
    padding: 2%;
}

.contact-us-card{
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    margin: 4%;
    margin-left: -3%;
    padding-left: 5%;
    padding-bottom: 4%;
}