.header-icon{
    height: 27px;
    width: 120px;
    display: flex;
    cursor: pointer;
}

.icon_image{
    height:100%;
    width: 25%;
}

.icon_image_mobile{
    height:100%;
    width: 60%;
}

.image{
    height:100%;
    width: 75% !important;
}