.card-style{
    min-width: 35vw;
    min-height: 12vh;
    background-color: #e6e6e6 !important;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.upload-button-style{
    cursor: pointer;
}